{% if paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Pagination"><ul>
{% if paginator.previous_page %}<li><a href="{{ paginator.previous_page_path | relative_url }}">Previous</a></li>{% endif %}
{% for number in (1..paginator.total_pages) %}<li>{% if number == paginator.page %}<span aria-current="page">{{ number }}</span>{% else %}<a href="{% if number == 1 %}{{ '/' | relative_url }}{% else %}{{ site.paginate_path | replace: ':num', number | relative_url }}{% endif %}" aria-label="Writing page {{ number }}">{{ number }}</a>{% endif %}</li>{% endfor %}
{% if paginator.next_page %}<li><a href="{{ paginator.next_page_path | relative_url }}">Next</a></li>{% endif %}
</ul></nav>
{% endif %}
